body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container {
    position: relative;
    width: 400px; /* Aangepaste breedte */
    height: 400px; /* Aangepaste hoogte */
    border: 2px solid #333;
}

.goal {
    position: absolute;
    top: 20px;
    left: 180px;
    width: 60px;
    height: 60px;
    background-color: green;
}

.ball {
    position: absolute;
    bottom: 20px;
    left: 180px;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}
